h1 estos son los barcos del cliente #{cliente.nombre}
table.table.table-responsive
  tr
    th.text-center Nombre
    th.text-center Número Matricula
    th.text-center Número Amarre
    th.text-center Cuota
      each barco in cliente.barcos
        tr.text-center
          td #{barco.nombre}
          td #{barco.numeroMatricula}
          td #{barco.numeroAmarre}
          td #{barco.cuota}
