extends ./layout/layout

block header
  include ./header/header
block content
  .container
    .row
      .col-xs-6
        h2 Registro de usuario
        br
        form(name="cliente" method="post", action="/#{cliente ? 'editar-cliente/' + cliente._id : ''}" )
          .input-group
            span#basic-addon1.input-group-addon
              span.glyphicon.glyphicon-user
            input.form-control(type='text', placeholder='Nombre', aria-describedby='basic-addon1' name="nombre" value="#{cliente && cliente.nombre ? cliente.nombre : ''}")
          br
          .input-group
            span#basic-addon2.input-group-addon
              span.glyphicon.glyphicon-user
            input.form-control(type='text', placeholder='Apellido', aria-describedby='basic-addon2' name="apellido" value="#{cliente && cliente.apellido ? cliente.apellido : ''}")
          br
          .input-group
            span#basic-addon2.input-group-addon
              span.glyphicon.glyphicon-record
            input.form-control(type='text', placeholder='Identificación', aria-describedby='basic-addon2' name="identificacion" value="#{cliente && cliente.identificacion ? cliente.identificacion : ''}")
          br

          .input-group
            span#basic-addon2.input-group-addon
              span.glyphicon.glyphicon-earphone
            input.form-control(type='text', placeholder='telefono', aria-describedby='basic-addon2' name="telefono" value="#{cliente && cliente.telefono ? cliente.telefono : ''}")
          br

          .input-group
            span#basic-addon2.input-group-addon
              span.glyphicon.glyphicon-road
            input.form-control(type='text', placeholder='dirección', aria-describedby='basic-addon2' name="direccion" value="#{cliente && cliente.direccion ? cliente.direccion : ''}")
          br

          .input-group
            span#basic-addon2.input-group-addon
              span.glyphicon.glyphicon-book
            input.form-control(type='text', placeholder='carrera', aria-describedby='basic-addon2' name="carrera" value="#{cliente && cliente.carrera ? cliente.carrera : ''}")
          br
          .input-group
            span#basic-addon2.input-group-addon
              span.glyphicon.glyphicon-envelope
            input.form-control(type='text', placeholder='correo', aria-describedby='basic-addon2' name="correo" value="#{cliente && cliente.correo ? cliente.correo : ''}")
          br


          br
          br
          button(type='submit') Guardar
