extends ./layout/layout

block header
  include ./header/header
block content
  h1 prueba
  form(name="cliente" method="post", action="/#{cliente ? 'editar-cliente/' + cliente._id : ''}" )
    h2 Ingrese nombre
    input(type="text" name="nombre" value="#{cliente && cliente.nombre ? cliente.nombre : ''}")
    h2 Ingrese apellido
    input(type="text" name="apellido" value="#{cliente && cliente.apellido ? cliente.apellido : ''}")
    select(name="tipo" )
      option(value="") Seleccione tipo de Cliente
      option(value="capitan") Capitan
      option(value="socio") Socio
    h2 Ingrese identificacion
    input(type="text" name="identificacion" value="#{cliente && cliente.identificacion ? cliente.identificacion : ''}")
    h2 Ingrese telefono
    input(type="text" name="telefono" value="#{cliente && cliente.telefono ? cliente.telefono : ''}")
    h2 Ingrese direccion
    input(type="text" name="direccion" value="#{cliente && cliente.direccion ? cliente.direccion : ''}")
    h2 Ingrese licencia
    input(type="text" name="licencia" value="#{cliente && cliente.licencia ? cliente.licencia : ''}")

    br
    br
    // select(multiple)
    //   option(value='volvo') Volvo
    br
    br
    br
    button(type='submit') Guardar
