table.table.table-responsive
  tr
    th.text-center Nombre
    th.text-center Número Matricula
    th.text-center Número Amarre
    th.text-center Cuota
    th.text-center editar
    th.text-center eliminar
    th.text-center agregar salida
    th.text-center ver salidas
      each barco in barcos
        tr.text-center
          td #{barco.nombre}
          td #{barco.numeroMatricula}
          td #{barco.numeroAmarre}
          td #{barco.cuota}
          td
            a(href="/barco/editar-barco/#{barco._id}") editar
          td
            a(href="/barco/eliminar-barco/#{barco._id}") eliminar
          td
            a(href="/salida/#{barco._id}") agregar salida
          td
            a(href="/lista-de-salidas/#{barco._id}") ver salidas
